.sessions-new
  .col-md-4.col-md-offset-4
    %h1.black Log in

    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-control' }) do |f|
      .form-group
        = f.label :email, class: 'control-label'
        %br
        = f.email_field :email, autofocus: true, class: 'form-control'

      .form-group
        = f.label :password, class: 'control-label'
        %br
        = f.password_field :password, autocomplete: "off", class: 'form-control'

      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me

      .actions
        = f.submit "Log in", class: 'btn btn-default'
